h1{
  text-align: center;
  border-style: solid;
  background-color: #feffdf;
}
body{
  background-color: #97cba9;
}

nav{
  word-spacing: 21px;
}

a.nav{
 width: 250px;
 height: 250px;
 background-color: #feffdf;
 border-style: solid;
 border-color: black;
}

p.box{
  font-size: 24px;
  background-color: #dde0ab;
  border-style: solid;
  border-color: black;
  position: absolute;
  left: 100px;
  bottom: 400px;
  width: 700px;
  height: auto;
}

img.rightcenter{
  border-style: solid;
  border-color: black;
  position:absolute;
  right: 150px;
  bottom: 300px;
  width: 550px;
  height: 400px;
}

table{
  position:absolute;
  left: 100px;
  bottom: 200px;
  background-color: #dde0ab;
  border: 5px solid;
  width: 400px;
  height: 300px;
}

td, th{
  font-size: 22px;
  background-color: #dde0ab;
  border: 3px solid;
  border-collapse: relative;
}

p.explain{
  font-size: 24px;
  background-color: #dde0ab;
  border-style: solid;
  border-color: black;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 550px;
  height: auto;
}

footer{
  border-top-style: solid;
  border-color: black;
  background-color: #668ba4;
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}
